---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is an EXPERIMENT page for you</h1>
  <div class="vibe">You are great!</div>
  <div class="love">
    ❤️
  </div>

  <ul>
  {% for taco in mynews.articles %}
    <li>
      <h2><a href="{{ taco.url }}">{{ taco.title }}</a></h2>
      <span>{{ taco.source.name }} - <time>{{ taco.publishedAt }}</time></span>
    </li>

  {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>
